<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school</title>
    <style>
        body
        {
            background-color: rgb(216, 102, 102);
        }
        h1
        {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: aqua;
            color: rgb(134, 73, 192);
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <center>
        <h1>List of school objects</h1>
        {% for school in schools %}
        <a href="{{sname.pk}}"><h2>{{school.sname}}</h2></a>
        {% endfor %}
    </center>
</body>
</html>